.box {
  background-color: #218D9B;
  height: 100px;
  width: 100px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}
  







html {
  background-image: url(https://media.istockphoto.com/photos/green-poker-table-felt-background-picture-id140020812?k=6&m=140020812&s=612x612&w=0&h=bCiTklibggzhy4_2kOy_Xvb4PwAAAnDXp7Ar1sbYF0Q=);
  background-size: cover;
}

.text {
  font-family: Impact;
  background-color: green;
  text-align: center;
  padding: none;
}

table, th, td{
  border: none;
  align-content: center;
}

td.score{
border-style: dashed;
background-color: white;
padding-top: 0;
}

img#enemie{
  height:267px;
  width: 192px;
  margin-right: 40%;
  margin-left: 10%;
  border-radius: 10px;
  background-size: contain;
  background-repeat: repeat;*/
background-image: url("Hearts/maxresdefault.jpg");
}

img#mine{
  height:267px;
  width: 192px;
  float: left;
  margin-left: 40%;
  margin-right: 10%;
  border-radius: 10px;
  background-size: contain;
  background-repeat: repeat;*/
background-image: url("Hearts/maxresdefault.jpg");
}


img.show{
display: none;
}

img.win{
  border-color: gold;
  border-radius: 10px;
  border-width: thick;
}


img.cardButton{
height: 89px;
border-radius:10px;
padding:0;
margin:0;
}
tr{
  height: 100px;
}
button{
height: 89px;
width: 64px;
padding: 20px;
border: none;
border-radius: 10px;

}

h1 {
  font-size: 28px;
  font-family: Impact;
}

h3 {
  font-size: 14px;
  font-family: Impact;
}
