
html {
  background-image: url(https://media.istockphoto.com/photos/green-poker-table-felt-background-picture-id140020812?k=6&m=140020812&s=612x612&w=0&h=bCiTklibggzhy4_2kOy_Xvb4PwAAAnDXp7Ar1sbYF0Q=);
  background-size: cover;
}

.text {
  font-family: Impact;
  background-color: green;
  text-align: center;
  padding: none;
}

table, th, td{
  border: none;
  align-content: center;
}
button.enemy{
  height:267px;
  width: 192px;
  margin-left: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('aceofhearts.jpg')
}

tr{
  height: 100px;
}
button{
height: 89px;
width: 64px;
padding: 20px;
border: none;
border-radius: 10px;

}

h1 {
  font-size: 28px;
}

h3 {
  font-size: 14px;
}

img {
  width: 64px;
  height: 89px;
}
